<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <p><input type="text" name="version" placeholder="请输入要发布的版本号"></p>
        <p>
            <select name="hosts" multiple="multiple">
                <option value="c1.com">c1.com</option>
                <option value="c2.com">c2.com</option>
                <option value="c3.com">c3.com</option>
            </select>
        </p>

        <input type="submit" value="提交">
    </form>
</body>
</html>